<ion-view title="{{vm.navTitle}}"
          right-buttons="vm.rightButtons"
          ng-controller="StandsController as vm"
        >
    <div class="bar bar-loading bar-assertive" ng-if="vm.data.isLoading">Loading Stands</div>
    <div class="col filter-bar-top">
        <div class="list">
            <div class="item item-input item-select">
                <div class="input-label">
                    Filter
                </div>
                <select ng-model="showCategory.umbrella" ng-options="g.umbrella as g.umbrella for g in filterOptions.categories" ng-change="vm.change(showCategory.umbrella)">
                    <option value="">--All--</option>
                </select>
            </div>
        </div>
    </div>
    <ion-content overflow-scroll="scroll" has-header="true" class="coloured-bg stands" ng-class="{'has-loading': vm.data.isLoading}" on-scroll="vm.getScrollPosition()">
        <div class="row responsive-sm feature cards">
            <div class="col">
                <div class="card" ng-animate="'animate'" ng-repeat="stand in vm.stands | orderBy: 'stand.name' | filter:{umbrella:showCategory.umbrella || '' }">
                    <div class="item item-image">
                        <div class="box">
                            <a class="block header-image" ui-sref="main.stand({id: stand.id})">
                                <img class="image" ng-show="stand.picture == ''" ng-src="./img/placeholder.png">
                                <img ng-show="stand.picture !== ''" ng-src="./img/stands/uk/{{stand.picture}}">
                            </a>
                        </div>
                    </div>
                    <div class="item item-text-wrap item-main">
                      <a ui-sref="main.stand({id: stand.id})" class="block click-through">
                          <h1 class="team-name">{{stand.name}}</h1>
                          <h2 class="team-name">{{stand.umbrella}}</h2>
                          <p>{{stand.description}}</p>
                      </a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
  <div class="scrollTop" ng-click="vm.scrollTop()"></div>
</ion-view>


