<ion-view title="{{navTitle}}"
          right-buttons="rightButtons"
          ng-controller="SeminarsController as vm"
        >
    <div class="bar bar-loading bar-assertive" ng-if="vm.data.isLoading">Loading Seminars</div>
    <ion-content class="coloured-bg seminars"
                 has-header="true"
                 padding="false"
                 overflow-scroll="scroll"
                 ng-class="{'has-loading': vm.data.isLoading}"
                 on-scroll="vm.getScrollPosition()">
        <div class="seminar">
            <div class="image">
                <img src="./img/seminars-image-01.png" alt=""/>
                <h1 class="text-center">Seminars</h1>
                <h5 class="text-center">Timeline</h5>
            </div>
            <div class="image padded-image">
                <img src="./img/Timeline.png" alt=""/>
            </div>
            <div class="col">
                <accordion id="accordion" close-others="false">
                    <accordion-group is-open="status.open" ng-repeat="seminar in vm.seminars | orderBy: 'time'">
                        <accordion-heading>
                            <div class="index"><span class="number">{{$index}}</span><span class="text-left padding-left">{{seminar.time}}</span></div>
                           <h2>{{seminar.name}}</h2>
                            <h4 class="item-text-wrap">{{seminar.lead}} in the {{seminar.location}}
                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                            </h4>
                        </accordion-heading>
                        <div class="text-left block">
                            <p>{{seminar.description}}</p>
                        </div>
                    </accordion-group>
                </accordion>
            </div>
        </div>
    </ion-content>
  <div class="scrollTop" ng-click="vm.scrollTop()"></div>
</ion-view>
