<ion-view title="{{navTitle}}"
          class="coloured-bg"
          left-buttons="leftButtons" ng-controller="ShortlistController">
  <div class="bar bar-loading bar-assertive" ng-if="data.isLoading">Loading item</div>
  <ion-content ng-class="{'has-loading': data.isLoading}" class="coloured-bg shortlists">
    <ion-list show-delete="isDeletingItems" show-reorder="isReorderingItems">
      <ion-item ng-model="shortlists" class="item item-remove-animate" ng-repeat="item in shortlists" ui-sref="main.stand({id: item.id})">
        <h2><strong>{{item.name}}</strong></h2>
        <h3>{{item.umbrella}}</h3>
        <i class="icon"></i>
        <ion-delete-button class="ion-minus-circled"
                           ng-click="removeShortlist(item)">
        </ion-delete-button>
        <ion-reorder-button class="ion-navicon"
                            on-reorder="moveItem(item, $fromIndex, $toIndex)">
        </ion-reorder-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar bar-light">
    <div class="button-bar">
      <button class="button button-clear" ng-click="toggleDelete()">{{editBtnText}}</button>
      <button class="button button-clear" ng-click="toggleReorder()">{{reorderBtnText}}</button>
    </div>
  </ion-footer-bar>
</ion-view>
