<div class="modal menu" ng-controller="PostController as post">
    <ion-content>
        <div class="row">
            <form class="messages" ng-submit="post.addMessage(post); toggleModal()">
                <div class="radio-buttons" ng-repeat="item in post.methods">
                    <label for="{{item.text}}" class="radios {{item.text}}">
                        <input id="{{item.text}}" ng-model="post.method" name="{{item.text}}" value="{{item.method}}" type="radio"/>
                        <img src="" ng-src="./img/{{item.text + '-OFF'}}.png" alt="{{item.text}}"/>
                    </label>
                </div>
                <div class="bottom-touch">
                    <div class="range">
                        <i class="icon ion-minus-circled"></i>
                        <input type="range" min="0" max="5000" value="3000" step="100" ng-model="post.duration">
                        <i class="icon ion-plus-circled"></i>
                    </div>
                    <p>Duration : {{post.duration}}ms</p>

                    <button type="submit" class="button button-full button-add-shortlist">Add Method</button>
                </div>
            </form>
        </div>
    </ion-content>
</div>