<ion-view title="{{navTitle}}" right-buttons="rightButtons" ng-controller="GeoController">
    <div class="bar bar-loading bar-assertive" ng-if="data.isLoading">Finding Location</div>
    <ion-content padding="false" class="has-header" ng-class="{'has-loading': data.isLoading}">

        <ui-gmap-google-map id="map" class="angular-google-map-container" center="map.center" zoom="map.zoom" data-tap-disabled="true">
            <ui-gmap-marker coords="marker.coords" options="map.options" idkey="map.id">
            </ui-gmap-marker>
        </ui-gmap-google-map>

        <div class="padding feature">
            <div class="col title-module">
                <h1 class="text-center main-title">Getting here</h1>
                <h5 class="text-center sub-title">by train</h5>
            </div>
            <div>
              <p>Get on any TFL train that stops at the Laindon train station. Then take a taxi from the station to Dunton Technical Centre.</p>
            </div>
            <div class="sub-feature">
                <h5 class="text-center sub-title no-main-title">by car</h5>
            </div>
            <div>
              <p>When coming from the west on the A127, take the exit to Laindon (B148).</p>
              <p>Take the third exit at the first roundabout and the first exit at the second roundabout.</p>
              <p>Postcode: SS15 6EE</p>
            </div>
        </div>

        <div class="col last-module dark">
            <h1 class="text-center main-title">Contact</h1>
            <p class="number"><a href="" target="_blank" class="button button-full button-clear">www.glits-event.com</a></p>

            <p class="email"><a href="mailto:glits-event@ford.com"
                                class="button button-full button-clear">glits-event@ford.com</a></p>

            <p class="number"><a href="tel:0800 420 8888" class="button button-full button-clear">0800 420 8888</a></p>

        </div>
    </ion-content>
    <ion-footer-bar class="bar-clear find-me">
        <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Find Me</a>
        <a ng-click="centerOnGlits()" class="button button-icon icon ion-navigate">Find Glits</a>
    </ion-footer-bar>
</ion-view>
