<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar bar-header bar-light nav-title-slide-ios7" align-title="center">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="right" class="bar bar-header bar-light">
        <button class="button button-icon button-clear" menu-toggle="right">Menu</button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="main"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right">
    <ion-content class="menu" has-header="true">
      <ul class="list">
        <li><a  class="item" menu-close ui-sref="main.home">Home</a></li>
        <li><a  class="item" menu-close ui-sref="main.seminars">Seminars</a></li>
        <li><a  class="item" menu-close ui-sref="main.marketplace">Marketplace</a></li>
        <li ng-if="shortlists.length"><a class="item" menu-close ui-sref="main.shortlist"><span class="shortlist-icon badge badge-assertive">{{shortlists.length}}</span> Shortlist</a></li>
        <li><a  class="item" menu-close ui-sref="main.contact">Contact</a></li>
      </ul>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
